$default-padding: 5px 10px;

$admin-header-padding: 10px 20px;

$primary-color:  #00acac;
$secondary-color: #333;

$gray-light-color: #d9e0e7;
$gray-strong-color: #1d2226;

@function changePrimaryColorOpacity($opacity){
  @return rgba(0, 172, 172, $opacity)
}
