@import "../../css-variables";

$toolbar-width: 220px;
.Toolbar {
  $self: &;
  width: $toolbar-width;
  transition: all 1s;
  overflow: hidden;

  &__menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: $toolbar-width;
    position: relative;
    left:0;

  }

  &_flatten {
    width: 70px;

    .Link {
      &__text {
        opacity: 0;
      }
    }
  }
}

.Link {
  padding: 10px 20px;
  display: block;
  color: rgba(255, 255, 255, .6);
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;


  &__icon {
    margin-right: 15px;
    font-size: 1.5rem;
  }
  &__text{
    transition: all 1s;
  }

  &:hover {
    color: #fff;
  }
}

.FlatMenuBtn{
  border: none;
  background: none;
  width: 100%;
  text-align: right;
  outline: none;
  color: #fff;
  font-size: 0.8rem;
  margin-top:5px;

  &:hover{
    color: $primary-color;
  }
  &:focus{
    outline: none;
  }
}
