@import "../../../../../css-variables";

.Editor {
  $self: &;
  margin-bottom: 20px;

  &__label {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0;
  }

  &__contentWrapper {
    display: flex;
    align-items: center;
  }

  &__unchangablePath {
    font-size: 1rem;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid transparent;
  }

  &__inputWrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__staticValue {
    font-size: 1rem;
    line-height: 1.25rem;
    border-bottom: 1px solid transparent;
  }

  &__editorialValue {
    display: none;
    position: relative;
    font-size:1.2rem;


    &:before{
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 100;
      background: $gray-light-color;
    }
    &:after {
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 100;
      background: $primary-color;
      transform-origin: 50% 50%;
      transform: scale(0);
      transition: all 0.5s ease;
    }

    &:focus-within:after {
      transform: scale(1);
    }
  }

  &__input {
    border: none;
    font-size: 1rem;
    line-height: 1.25rem;
    height: 1.25rem;
    margin: 0;
    outline: none;
    padding-left:2px;
  }

  &__inputWrapper_edit {
    #{$self}__staticValue {
      display: none;
    }

    #{$self}__editorialValue {
      display: block;
    }
  }

  &__toolbar {
    flex-grow: 1;
    text-align: right;
    button{
      vertical-align: center;
    }
  }
}
