@import "../../../../../css-variables";

.ArrayValue {
  margin-top: 40px;

  &__title {
    font-size: 0.8rem;
    color: $primary-color;
    text-transform: uppercase;
  }

  &__toolbar {
  }

  &__dashboard {
    margin-top: 15px;
  }
}


.ValueItem {
  display: flex;
  padding: 10px 15px;
  margin-bottom: 6px;
  background: changePrimaryColorOpacity(0.1);

  &__dragIcon {
    margin-right: 10px;
    color: $primary-color;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2rem;
  }

  &__title {
    flex-grow: 1;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    user-select: none;
  }

  &__toolbar {
    height: 2rem;
    line-height: 2rem;
  }

  &:hover {
    background: changePrimaryColorOpacity(0.3);
  }
}

.DropDownIcon {
  color: $primary-color;
  font-size: 1.5rem;
  line-height: 2rem;
}
